@forward "variables";

// menu
.ant-menu {
    border: none !important;
    .ant-menu-title-content {
        font-size: 16px;
    }
}

//form
.ant-form {
    .ant-form-item {
        margin: 0;
    }
}

//button 
.ant-btn-primary {
    background-color: #1677ff;
}