// global styles

@import "./assets/styles/_variables.scss";

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: $background;
  color: $base-white-50;
}

:root {
  --font-primary: "Open Sans", sans-serif;
}

.section-bg {
  background-color: $bg-section;
}

.ant-dropdown-menu {
  background-color: $bg-component-child !important;
  .ant-dropdown-menu-title-content {
    color: $base-white-50;
  }
}

.ant-menu-dark {
  background-color: $bg-component;
  .ant-menu-sub {
    background-color: $bg-component-child !important;
  }
}

.ant-input {
  background-color: $bg-component-child;
  color: $base-white-50;
  border-color: $border-color-dark;
  &::placeholder {
    color: $base-white-50;
    opacity: 0.5;
  }
}

.ant-btn-dangerous {
  &.ant-btn-text {
    color: $btn-error-color-text-dark !important;
    &:hover {
      background-color: $btn-error-hover-dark !important;
    }
  }
}
.ant-btn-primary {
  background-color: $primary;
  color: $base-white-50;
  &:hover {
    background-color: darken($primary, 5%);
    border-color: darken($primary, 5%);
  }
}

// Add these styles to your SCSS
.ant-table {
  background-color: $bg-component !important;
  
  // Header styles
  .ant-table-thead > tr > th {
    background-color: $bg-component-child !important;
    color: $base-white-50 !important;
    border-bottom: 1px solid $base-gray-400 !important;
  }

  // Body styles
  .ant-table-tbody > tr > td {
    background-color: $bg-component !important;
    color: $base-white-50 !important;
    border-bottom: 1px solid $base-gray-400 !important;
  }

  // Hover state
  .ant-table-tbody > tr:hover > td {
    background-color: $bg-component-child !important;
  }

  // Pagination
  .ant-pagination {
    color: $base-white-50 !important;
    
    .ant-pagination-item {
      background-color: $bg-component-child !important;
      border-color: $base-gray-400 !important;
      
      a {
        color: $base-white-50 !important;
      }
    }
  }

  // text emty
  .ant-empty-description {
    color: $base-white-50 !important;
  }
}

.ant-breadcrumb {
  ol {
    align-items: end;
    li {  
      &:first-child {
        font-size: 1.125rem;
        font-weight: 600;
      } 
      .ant-breadcrumb-link {
        a {
          color: $base-white-50 !important;
        }
      }
    
      .ant-breadcrumb-separator {
        color: $base-white-50 !important;
      }
    }
  }
}